<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
      <meta name="viewpoint" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossjoin="anonymous">
	</head>
	<body>

		<div style="display:inline-block;vertical-align:top">
            <div class="container-fluid px-0 py-0 my-0 mx-0">
              <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                </div>
                  <div class="carousel-inner">
                    <div class="course-item">
                    </div>
                  </div>
                </div>
                <nav class="navbar navbar-expand-lg bg-dark">
                  <div class="container-fluid">
                    <a class="navbar-brand" href="#" style="color:white;font-weight:bold">Pollster</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="#" style="color:white;font-weight:bold">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/admin" style="color:white;font-weight:bold">Admin</a>
                        </li>
                        
                        <li class="nav-item">
                          <a class="nav-link" href="/about" style="color:white;font-weight:bold">About</a>
                        </li>
                        <br>
                      <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                      </form>
                    </div>
                  </div>
                </nav>
                
                <div class="coursel-inner">
                  <div class="carousel-item active">
                    <img src="https://source.unsplash.com/1600x500/?Computer,technology,business,votes,debate,new york" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h2>Welcome To Pollster</h2>
                    </div>
                  </div>
               </div>
            </div>
        </div><br>
</body>
<html>
