<!DOCTYPE html>
<html>
    <head>
        <title>About page</title>
        
    </head>
    <body>
        <div class="container-fluid  my-0 px-0 py-0 mx-0">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
              </div>
              <div class="carousel-inner">
                <div class="course-item">
                </div>
                </div>
                </div>
                <div class="coursel-inner">
                <div class="carousel-item active">
                  <img src="https://source.unsplash.com/1400x400/?business,california" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                  <center>
                    <h2 style="font-weight:bold;font-family:sans-serif;font-size:larger">Welcome To Pollster</h2>
                    <h2 style="font-weight:bold;font-family:sans-serif;font-size:larger">What Is Polling</h2>
                  </center> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="container-fluid px-0">
     <center>
       <h3>Polling</h3>
       <p style="font-weight:bold;font-family:sans-serif;font-size:larger">
        Polling is when a group of people decide something by saying what they want. It can be for electing a leader or representative, passing a law, and other things. When people are done polling, the votes are counted (often by machines) and the winner is determined.<br>
    
        <br>polling can be done in small groups (friends deciding what to do over weekend), societies (building committee deciding on whether to paint a building), nations (voting for president or - in some cases - voting for independence) and global (United Nations deciding how to limit nuclear weapon development).<br>
    
        <br>Usually the side that gets most votes will win. This is called majority rule. The right to vote is called suffrage.
        
        <br>In some cases, a certain percentage may be needed to win a vote. This is often the case when voting to change the constitution of a country, or when electing a government official. When choosing a government official, there may be several rounds. In the first round, votes can be cast for all candidates. In the second round, only the two or three candidates with the most votes can be chosen.<br> Voting is done in democratic government. 
         </p>
     </center>
    </div>
    </body>
    </html>